// Size Variables Settings Stylesheet
// ========================================

$size-xs:    $spacer-8;
$size-sm:    $spacer-16;
$size-md:    $spacer-32;
$size-lg:    $spacer-40;
$size-xlg:   $spacer-64;
$size-xxlg:  $spacer-128;
