// Cards Variables Settings Stylesheet
// ========================================

$card-sizes: (
  xs: (
    size-prop: $size-xs
  ),
  sm: (
    size-prop: $size-sm
  ),
  md: (
    size-prop: $size-md
  )
);
